<div class="small-6 columns">
  {{#form-for controller action='save'}}
    <div>
      {{input name placeholder="App Name"}}
    </div>
    <div>
      {{input app_url placeholder="Deployed URL"}}
    </div>
    <div>
      {{input repo_url placeholder="Repo URL"}}
    </div>
    <div>
      {{input description as="text"}}
    </div>
    <div>
      <button {{action 'save'}}>Create Project</button>
    </div>
  {{/form-for}}
</div>
