<h4>{{name}}</h4>

{{#if isEditing}}
  {{partial 'projects/edit'}}
  <button {{action 'doneEditing'}}>Done</button>
{{else}}
  <button {{action 'edit'}}>Edit</button>
{{/if}}
<button {{action 'delete'}}>Delete</button>

<div>
  URL of Deployed Version: {{app_url}}
</div>
<div>
  URL of GitHub Repo: {{repo_url}}
</div>
<div>
  Description: {{description}}
</div>
