<div class="row">
  <h2 id="title">Web Developer Portfolio</h2>

  {{link-to 'Home' 'application'}}
  {{link-to 'About' 'about'}}
  {{link-to 'Projects' 'projects'}}
  {{link-to 'Blog' 'posts'}}

  <p>This app will feature web apps I've created to show off what an awesome developer I clearly am.</p>

  {{outlet}}
</div>

