<div class="small-8 columns panel">
  <h4>
    {{model.title}}
  </h4>
  <div>
    Posted at: {{model.created_at}}
  </div>
  <div>
    Last updated at: {{model.updated_at}}
  </div>

  {{#if isEditing}}
    {{partial 'posts/edit'}}
    <button {{action 'doneEditing'}}>Done</button>
  {{else}}
    <button {{action 'edit'}}>Edit</button>
  {{/if}}
  <button {{action 'delete'}}>Delete</button>
  <div>
    {{model.body}}
    <h4>Comments</h4>
    {{#each comment in model.comments}}
      <div>
        {{comment.title}}
      </div>
      <div>
        {{comment.body}}
      </div>
      <button {{action 'deleteComment' comment}}>Delete</button>
    {{/each}}
    {{#form-for newComment action='saveComment'}}
      <div>
        {{input title placeholder="Comment Title"}}
      </div>
      <div>
        {{input body as="text"}}
      </div>
      <div>
        <button {{action 'saveComment'}}>Save Comment</button>
      </div>
    {{/form-for}}
  </div>
</div>
